{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>My Website</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

     <!-- Favicons -->
  <link href="../static/assets/img/favicon/icons8-test-account-100.png" rel="icon">
  {% comment %} <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> {% endcomment %}
   
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" /> 
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %} " rel="stylesheet" /> 
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" /> 
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href={% static 'assets/css/style.css' %} rel="stylesheet" />

  </head>

  <body style="user-select: none;">
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
     <header id="header">
      <div class="d-flex flex-column">
        <div class="profile">
          <img
            src="{% static '/assets/img/profile-2.jpg' %}"
            alt=""
            class="img-fluid rounded-circle"
          />
          <h1 class="text-light"><a href="index.html">Rudranarayan Sahu </a></h1>
          <div class="social-links mt-3 text-center">
            <a href="https://www.linkedin.com/in/rudranarayan-sahu-b7b9a6244/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            <a href="https://www.facebook.com/rudranarayan.sahu265" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/c_o_n_fused._/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
            <a href="https://github.com/rudranarayan-01" class="github" target="_blank"><i class="bx bxl-github" ></i></a>
            <a href="#" class="twitter" target="_blank" ><i class="bx bxl-twitter"></i></a>
          </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
          <ul>
            <li>
                <a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a>
            </li>

            <li>
                <a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a>
            </li>

            <li>
                <a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a>
            </li>


            <li>
                <a href="#portfolio" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Projects</span></a>
            </li>

            <li>
                <a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a>
            </li>

       
        </ul>

        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section
    id="hero"
    class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Rudranarayan Sahu</h1>
      <p>
        I'm
        <span
          class="typed"
          data-typed-items="Developer, Freelancer, Designer"></span>
      </p>
    </div>
    </section>
    
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">

          <div class="section-title">
            <h2>About</h2>
            <p>
              Hey! 😄 My name is Rudranarayan Sahu, Self Driven, Quick Starter Passionate Programmer With Curious Mind Focused and enthusiastic developer with a keen interest in both web and app development and Coompetitive Programming. By comprehensive exposure to the underlying concepts and applying them vividly to various projects, my love for these domains came into being. I am a passionate individual who thrives to build and apply algorithms to solve real-world problems.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
              <img src="{% static 'assets/img/profile-1.jpg' %}" class="img-fluid rounded" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
              <h3>Web Developer &amp; Android Developer.</h3>
              <p class="fst-italic">
                Meticulous web developer with over 1 year of Full Stack experience and passion for responsive website design and a firm believer in the mobile-first approach, Implemented new responsive website and web approach which increased mobile traffic by 20% .
              </p>
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>27 Oct 2002</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>rudranarayansahu080@gmail.com</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 8260348599</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Baripada, Odisha</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Work:</strong> <span>Available</span></li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Bussiness Email:</strong> <span>codingislife01@gmail.com</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                  </ul>
                </div>
              </div>
              {% comment %} <p>
                Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
                Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
              </p> {% endcomment %}
            </div>
          </div>
  
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Facts Section ======= -->
      {% comment %} <section id="facts" class="facts">
        <div class="container">
          <div class="section-title">
            <h2>Facts</h2>
            <p>
              Magnam dolores commodi suscipit. Necessitatibus eius consequatur
              ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
              quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
              Quia fugiat sit in iste officiis commodi quidem hic quas.
            </p>
          </div>

          <div class="row no-gutters">
            <div
              class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
              data-aos="fade-up"
            >
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="232"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p><strong>Happy Clients</strong> consequuntur quae</p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="count-box">
                <i class="bi bi-journal-richtext"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="521"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p><strong>Projects</strong> adipisci atque cum quia aut</p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="count-box">
                <i class="bi bi-headset"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="1453"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="count-box">
                <i class="bi bi-people"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="32"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
              </div>
            </div>
          </div>
        </div>
      </section> {% endcomment %}
      <!-- End Facts Section -->

      <!-- ======= Skills Section ======= -->
      <section id="skills" class="skills section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Skills</h2>
            <p>
              Magnam dolores commodi suscipit. Necessitatibus eius consequatur
              ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
              quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
              Quia fugiat sit in iste officiis commodi quidem hic quas.
            </p>
          </div>

          <div class="row skills-content">
            <div class="col-lg-6" data-aos="fade-up">
              <div class="progress">
                <span class="skill">MERN
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Django <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">C/C++ 
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <div class="progress">
                <span class="skill">MongoDB/SQL
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">React Native</span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="60"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Java</span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Skills Section -->

      <!-- ======= Resume Section ======= -->
      <section id="resume" class="resume">
        <div class="container">
          <div class="section-title">
            <h2>Resume</h2>
            <p>
              Web Developer with high level of experience in web designing and development, producting the Quality work
            </p>
          </div>

          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title">Sumary</h3>
              <div class="resume-item pb-0">
                <h4>Rudranarayan Sahu</h4>
                <p>
                  <em
                    >Innovative and deadline-driven Developer with 3+
                    years of experience in developing and designing user-centered
                    digital/print marketing material from initial concept to
                    final.</em
                  >
                </p>
                <ul>
                  <li>Baripada, Odisha</li>
                  <li>+91 8260348599</li>
                  <li>rudranarayansahu080@gmail.com</li>
                </ul>
              </div>
<br>
<br>
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Master in Computer Application</h4>
                <h5>2023 - 2025</h5>
                <p><em>Utkal University, Bhubaneswar</em></p>
                <p>
                  A great platform for Computer Science and the biggest University in Odisha. I especially learn Android Development in this time period.
                </p>
              </div>
              <div class="resume-item">
                <h4>Bachelor of Science in Computer Science</h4>
                <h5>2020 - 2023</h5>
                <p><em>MPC Autonomous College, Baripada</em></p>
                <p>
                  I persued my graduation in this college where all facilites are still good but teaching quality is excellent. I score 8.87 CGPA first class honours with distinctions in Computer Science.
                </p>
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Skills</h3>
              <div class="resume-item">
                <h4>Technologies</h4>
                
                <ul>
                  <li>C/C++</li>
                  <li>Java</li>
                  <li>Python</li>
                  <li>JavaScript</li>
                  <li>HTML5</li>
                  <li>CSS3</li>
                  <li>React Native</li>
                </ul>
              </div>
              <div class="resume-item">
                <h4>Frameworks and libraries</h4>
                <ul>
                  <li>Node</li>
                  <li>Express</li>
                  <li>SASS</li>
                  <li>Bootstrap</li>
                  <li>Django</li>
                  <li>jQuery</li>
                  <li>Framer Motion</li>
                  <li>React js</li>
                </ul>
              </div>
              <div class="resume-item">
                <h4>Databases</h4>
                <ul>
                  <li>My SQL</li>
                  <li>MongoDB</li>
                  <li>Postgree</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Resume Section -->

      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Projects</h2>
            <p>
              I've always followed my heart and pursued my dreams, and I imagine that people find that inspiring. I hope that is the effect I have on my fans and people in general. I definitely want to project a positive energy out into the world.
            </p>
          </div>

          {% comment %} <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-web">Web</li>
              </ul>
            </div>
          </div> {% endcomment %}

          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

            {% for post in posts reversed %}
{% comment %} 
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
  
              <div class="col-lg-10" data-aos="fade-right">
                  <img src="{{post.img.url}}" class="img-fluid" alt="no-image">
              </div>
            <br>
  
              
            <h4 class="title"><a href="">{{post.title}}</a></h4>
            
              <p class="description">{{post.description}}</p>
              <h6>Posted By : <b>{{post.authname}} </b></h6>
            </div> {% endcomment %}
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="{{post.img.url}}" class="img-fluid" alt=""/>
                <h4 class="title m-2"><a href="">{{post.title}}</a></h4>
                <p class="description ">{{post.description}}</p>
              
                <div class="portfolio-links">
                  <a href="{{post.img.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href= "{{post.link}}" title="More Details" target="_blank"><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </section>
      <!-- End Portfolio Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">
          <div class="section-title">
            <h2>Services</h2>
            <p>
              Seek to get associated with a growth oriented organization, preferably in the IT Company
              offering a synergy of my professional skills with the organizational objectives at the various levels.
              To utilize my knowledge and skills, utilize given opportunities
              effectively for professional growth
              and to contribute in the best possible way for the betterment of the organization and self.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">MERN Stack Development</a></h4>
              <p class="description">
                Analyzing bussiness requirements to translate functional requirements into technical requirements and developed web aplication using MongoDB, Express, React.js/Redux and Node (MERN Stack). 
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Front End Development</a></h4>
              <p class="description">
                Seasoned and independent Front End Developer with 4+ years of experience in blending the art of design with skill of programming to deliver an immersive and engaging user experience through efficient website development, proactive feature optimization, and relentless debugging.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
              <h4 class="title"><a href="">Back End Development</a></h4>
              <p class="description">
                Adaptable back end developer with a strong track record in creating efficient, scalable web applications. Proficient in JavaScript and Node, with a deep understanding of RESTful APIs and microservices architecture. Experienced in optimizing database queries, reducing query execution time by 40% and enhancing application performance. Skilled in implementing secure authentication and authorization mechanisms, ensuring data integrity and protection.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">Android Development</a></h4>
              <p class="description">
                Analytical and detail-oriented Android app developer. Professional with stellar communication skills, adept at bringing all team members together to reach a common goal on time and under budget. Conceptualizing app solutions with the latest technology, design theory and creativity
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
              <h4 class="title"><a href="">Web Scarping</a></h4>
              <p class="description">
                Web scraping extracts underlying HTML code and, with it, data stored in a database. The scraper can then replicate entire website content elsewhere.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title"><a href="">Database Operation</a></h4>
              <p class="description">
                Self-motivated and cheerful customer service professional with 2+ years of experience in database CRUD operation. Eager to support in building an impeccable online reputation by providing top-class customer support.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Testimonials</h2>
            <p>
              Find a group of people who challenge and inspire you; spend a lot of time with them, and it will change your life
            </p>
          </div>

          <div
            class="testimonials-slider swiper"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    We sincerely appreciate your prompt response in resolving this unexpected issue. Your willingness to take risks and make quick decisions helped us in averting a major business crisis. We are grateful to have such a talented and perceptive person on our team.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="{% static 'assets/img/testimonials/bapu.png' %}"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Balaram Sahu</h3>
                  <h4>Ceo &amp; Founder</h4>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div
                  class="testimonial-item"
                  data-aos="fade-up"
                  data-aos-delay="100"
                >
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    You did a great job with your presentation today. It brought to light some important points that we were overlooking, and the data revealed our strengths and weaknesses. It has certainly aided in making everyone understand where our priorities should be going forward. We certainly hope to see more great initiatives from you in the future.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="{% static 'assets/img/testimonials/rajesh.png' %}"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Rajesh Sahu</h3>
                  <h4>Python Developer, Infosys</h4>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div
                  class="testimonial-item"
                  data-aos="fade-up"
                  data-aos-delay="200"
                >
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I am truly impressed with how you have managed to meet every goal set before you. To be honest, I wasn't sure you'd be able to finish all of these tasks on time, but I'm glad you proved me wrong. It is not an exaggeration to say that you are a tremendous asset to this team.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="{% static 'assets/img/testimonials/sekhar.jpg' %}"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Sekhar Suman Mohanta</h3>
                  <h4>Freelancer</h4>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div
                  class="testimonial-item"
                  data-aos="fade-up"
                  data-aos-delay="300"
                >
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I could see that you have been working tirelessly day after day to assist our customers in navigating the new change. It makes me very proud to have such a dedicated team member working with us. Great work!
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img
                    src="{% static 'assets/img/testimonials/gopal-1.jpg' %}"
                    class="testimonial-img"
                    alt=""
                  />
                  <h3>Subham Shree Gopal</h3>
                  <h4>Freelancer</h4>
                </div>
              </div>
              <!-- End testimonial item -->

              <!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Testimonials Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title">
            <h2>Contact</h2>
            <p>Let's make something
              amazing together.</p>
          </div>
  
          <div class="row" data-aos="fade-in">
  
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>Baripada,Odisha</p>
                </div>
  
                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>rudranarayansahu080.com</p>
                </div>
  
                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+91 8260348599</p>
                </div>
  
                <iframe src="https://maps.google.com/maps?q=badabazar,baripada&t=&z=10&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
              </div>
  
            </div>
  
            <div class="col-lg-7 mt-5 mt-lg-0 align-items-stretch">
              <form action="" method="post">{% csrf_token %}
                <div class="form-group">
                  <h5>

                    <span><i class="fas fa-user"></i> Name</span>
                  </h5>
                  <input type="text" class="form-control mb-3" name="name" required/>
                </div>
                <div class="form-group">
                  <h5>
                    <span><i class="fa fa-envelope"></i> Email</span>
                  </h5>
                  <input type="email" value="{{user.email}}" class="form-control mb-3" name="email" required/>
                </div>
                <div class="form-group">
                  <h5>
                    <span><i class="fas fa-phone-alt"></i> Phone No.</span>
                  </h5>
                  <input type="tel" class="form-control mb-3" name="num" required/>
                </div>
        
                <div class="form-group">
                  <h5>
                    <span><i class="far fa-question-circle"></i>How can i help you </span>
                  </h5>
                  <textarea type="text" class="form-control mb-3" name="desc" required rows="11" cols="80"></textarea>
                </div>
               
        
        
                <div class="d-grid gap-2">
                  <button class="btn btn-dark" type="submit">Submit</button>
                </div>
             
              </div>
        
              </form>
            </div>
  
          </div>
  
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; All rights reserved <strong></strong>
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
          Designed by <a href="">Rudranarayan Sahu</a>
        </div>
      </div>
    </footer>
    <!-- End  Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/typed.js/typed.umd.js' %}"></script>
    <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
